.common{
    width: 90%;
    margin: 20px auto;
    border: 1px solid gainsboro;
    padding: 20px;
}
.btn-len{
    width: 80px;
}
.margin-6{
    margin-left: 50%;
}
.ct{
    float: left;
}
.font-sm{
    font-size: 12px;
}